<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    {% block style %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <div class="page">
        <header>
            <a href="{{ url_for('index') }}" class="logo local">cos²α</a>
            <nav>
                <a href="{{ url_for('form') }}">Друзья</a>
                <a href="#">Сообщения</a>
                <a href="#">Настройки</a>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <span>Dmitry Profe & Kostin Ilya. All rights reserved.</span>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>