{% extends 'base.html' %}

{% block style %}
<link href="{{ url_for('static', filename='chat.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="holder-wrapper">
    <div class="messages-container">
        <span class="alert">Новый участник!</span>
        <div class="message">
            <span class="source">Дима Профе</span>
            <p class="text">Всем привет! Меня зовут Дима Профе. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur corrupti ex natus fugit facere ab accusamus suscipit delectus libero?</p>
            <span class="date">12:05</span>
        </div>
        <div class="message my">
            <span class="source">Илья Костин</span>
            <p class="text">Всем привет! Меня зовут Костин Илья. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur corrupti ex natus fugit facere ab accusamus suscipit delectus libero?</p>
            <span class="date">12:37</span>
        </div>
    </div>
</div>

<div class="input-bar">
    <input type="text" class="message-input" placeholder="Введите сообщение">
    <input type="button" class="message-send" value="Отправить">
</div>

<script src="{{ url_for('static', filename="socket.io.min.js") }}" type="text/javascript"></script>

<script>
    const socket = io.connect('/');
    const holder = document.querySelector('.messages-container');
    const send_button = document.querySelector('.message-send');
    const message_input = document.querySelector('.message-input');
    const room_id = "{{ room }}";

    function UpdateHolder() {
        holder.scroll({
            top: holder.scrollHeight,
            behavior: 'smooth'
        });
    }

    function AddMessage(data) {
        holder.innerHTML += `<div class="${'message' + (data.my? ' my' : '')}">` +
            `<span class="source">${data.source}</span>` +
            `<p class="text">${data.text}</p>` +
            `<span class="date">${data.date}</span>` +
            '</div>';
        UpdateHolder();
    }

    function strweight(s) {
        for (let i = 0; i < s.length; i += 1)
            if (s[i] !== '\n' && s[i] !== ' ') return true;
        return false;
    }

    function send() {
        let msg = message_input.value;
        if (!strweight(msg)) return;
        socket.send({
            text: message_input.value,
            room: room_id
        });
        message_input.value = '';
    }

    socket.on('connect', () => {
        socket.emit('join', {
            room: room_id
        });
    });

    socket.on('message', data => {
        AddMessage({
            my: false,
            text: data['text'],
            source: 'Unknown',
            date: '00.00'
        });
    });

    send_button.addEventListener('click', send);
    message_input.addEventListener('keydown', ev => {
        if (ev.key === 'Enter') send();
    });

</script>

{% endblock %}