.flashes-container {
    position: fixed;
    right: -10vw;
    top: 10px;
    min-width: 100px;
}

.flash span {
    /*opacity: 1;*/
}

.flash {
    font-size: 0.8em;
    padding: 13px 30px;
    border-radius: 15px;
}

.flash-success {
    background-color: rgba(0, 255, 0, 0.5);
}

.flash-error {
    background-color: rgba(255, 0, 0, 0.5);
}

.flash-warning {
    background-color: rgba(255, 255, 0, 0.5);
}

body {
    margin:0;
    padding:0;
    font-family:'Segoe UI';
    font-size:18px;
}

.page {
    width:1000px;
    max-width:100%;
    min-height:200px;
    margin-left:50%;
    transform:translate(-50%, 0);
}

header {
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color:black;
    text-decoration: none;
    user-select: none;
    cursor:pointer;
}

header .logo {
    font-weight: bold;
    font-size:30px;
    line-height:0;
}

header nav {
    display:flex;
    justify-content: flex;
    gap:25px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
}

main, footer {
    box-sizing: border-box;
}

footer {
    margin-top: 40px;
}


main a {
    text-decoration: none;
    color:#0b0beb;
    transition:color .35s ease-in-out;
}

main a:hover {
    text-decoration: underline;
    color:#0000c0;
}

main span { 
    display:block;
    margin-top:10px;
    margin-bottom:5px;
}

main p {
    text-indent: 50px;
    justify-content: center;
    margin-bottom:30px;
}

main h1 {
    margin-top:20px;
    margin-bottom:20px;
    font-size:30px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main, footer {
    opacity: 0;
}

.title {
    font-weight: bold;
    font-size:1.5em;
}

.center {
    text-align: center;
}