form h1 {
    margin-bottom:30px;
}

form div.input-block {
    margin-top:15px;
}

form div.input-block label {
    display:block;
    margin-bottom:5px;
}

form input[type="submit"] {
    margin-top:30px;
    min-width:135px;
}

form span.under {
    margin-top:3px;
    font-size:13px;
    margin-bottom:15px;
}

form a.hint {
    display:block;
    margin-top:15px;
    width:max-content;
}

form span.message {
    margin-top:20px;
    margin-bottom:-12px;
    font-weight: bold;
    color:#006300;
}

form span.message.error {
    color:#c20000;
}

input {
    outline: none;
    background: #e3e3e3;
    font-family: inherit;
    border:none;
    display:block;
    transition:background .15s ease-in-out;
}

input[type="button"], input[type="submit"] {
    cursor:pointer;
    padding:7px 18px;
    border-radius:15px;
    font-size:16px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background:#d7d7d7;
}

input[type="button"]:active, input[type="submit"]:active {
    background:#c2c2c2;
}

input[type="text"], input[type="password"] {
    font-size:17px;
    padding:7px 14px;
    border-radius:12px;
}

input[type="text"]:focus, input[type="password"]:focus {
    background:#dfdfdf;
}