form h1 {
    margin-bottom:30px;
}

form div.input-block {
    margin-top:15px;
}

form div.input-block label {
    display:block;
    margin-bottom:5px;
}

form input[type="submit"] {
    margin-top:30px;
    min-width:135px;
}

form span.under {
    margin-top:3px;
    font-size:13px;
    margin-bottom:15px;
}

form a.hint {
    display:block;
    margin-top:15px;
    width:max-content;
}

form span.message {
    margin-top:20px;
    margin-bottom:-12px;
    font-weight: bold;
    color:#006300;
}

form span.message.error {
    color:#c20000;
}