.chats-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /*overflow-y: scroll;*/
    max-height: 70vh;
    background-color: white;
}

#form-new-chat, #form-new-dialog, #form-join-chat {
    display: none;
    margin: 10px auto;
    width: 100%;
}

.chat {
    margin: 5px 0;
    border-radius: 15px;
    min-height: 30px;
    overflow-x: hidden;
}


.chat a, .chat-buttons {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #e3e3e3;
    width: 100%;
    color: black;
}

.chat a:hover, .chat-buttons :hover {
    background-color: #d7d7d7;
    color: black;
    text-decoration: none;
}

.chat a:active, .chat-buttons :active {
    background-color: #c2c2c2;
}


.chat-buttons {
    text-align: center;
}

#tbl-choice {
    width: 100%;
    display:none;
}

#tbl-choice tr {
    width: 100%;
}

#tbl-choice tr td {
    width: 10%;
}

#tbl-choice tr td a, #plus, #join_chat {
    font-size: 2em;
    color: black;
    border-radius: 15px;
}

#form-join-chat input[type="text"], #form-new-dialog form input[type="text"] {
    width: 87%;
    padding: 13px 5px;
    background: #e3e3e3;
    border-radius: 15px;
    border:none;
    display:inline-block;
}

#form-join-chat input[type="text"]:focus, #form-new-dialog form input[type="text"]:focus {
    background-color: #c2c2c2;
}

#form-join-chat input[type="submit"], #form-new-dialog form input[type="submit"] {
    width: 7%;
    cursor: pointer;
    padding: 5px 5px;
    background: #e3e3e3;
    border-radius: 15px;
    border:none;
    display:inline-block;
    font-size: 1.5em;
}

#form-join-chat input[type="submit"]:hover {
    background: #d7d7d7;
}

#form-join-chat input[type="submit"]:active {
    background: #c2c2c2;
}

#form-join-chat input[type="text"]:focus {
    background:#dfdfdf;
}