<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        {% block style %}{% endblock %}
        {% if title %}
            <title>{{ title }} - Мессенджер</title>
        {% else %}
            <title>Мессенджер</title>
        {% endif %}
    </head>

    <body>
        <div class="page">
            <header>
                <a href="{{ url_for('index') }}" class="logo local">LOGO</a>
                <nav>
                    <!--<a href="{ url_for('form') }}">Друзья</a>-->
                    <a href="/">Сообщения</a>
                    <a href="/about-app">Приложение</a>
                    {% if user %}
                        <a href="/settings"><b>{{ user.login }} [Настройки]</b></a>
                    {% else %}
                        <a href="/auth"><b></b>Гость</a></a>
                    {% endif %}
                </nav>
            </header>
            <main>
                {% block content %}
                {% endblock %}

                {% for cat, msg in get_flashed_messages(True) %}
                    <p class="flash flash-{{ cat }}">{{ msg }}</p>
                {% endfor %}
            </main>
            <footer>
                <span>Dmitry Profe & Kostin Ilya. All rights reserved.</span>
            </footer>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>


        <script>
            function redirectTo(str) {
                document.location.href = str;
            }
            {% if redirect_timeout %}
                setTimeout(function() {redirectTo('{{ redirect_address }}')}, {{ redirect_timeout }})
            {% endif %}
        </script>
    </body>
</html>