{% extends 'base.html' %}

{% set title=chat.show_name if chat.name.startswith('DIALOG_BETWEEN') else 'Чат ' + chat.show_name %}

{% block style %}
    <link href="{{ url_for('static', filename='chat.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content_mobile %}
{% block content -%}
    {% macro row(val1, val2) %}
        <tr>
            <td>{{ val1 | safe }}</td>
            <td>{{ val2 | safe }}</td>
        </tr>
    {% endmacro %}
    {% if not chat.name.startswith('DIALOG_BETWEEN') %}
        <script>
            /*function show_commands() {
                document.getElementById('hidden-div').style.display = "table";
                document.getElementById('hidden-p').style.display = "none";
            }

            function hide_commands() {
                document.getElementById('hidden-div').style.display = "none";
                document.getElementById('hidden-p').style.display = "inline";
            }*/
        </script>

        <nav class="menu-right">
            <ul>
                <li><a>Чат</a>
                    <ul>
                        <li><a href="javascript:rename_chat()">Переименовать</a></li>
                        <li><a href="{{ url_for('chat_command_remove_chat', chat_id=chat.id) }}">Удалить</a></li>
                        <li><a href="{{ url_for('chat_command_clear_chat', chat_id=chat.id) }}">Очистить</a></li>
                        <li><a href="{{ url_for('chat_command_leave_chat', chat_id=chat.id) }}">Покинуть</a></li>
                    </ul>
                </li>

                <li><a href="#">Приглашение</a>
                    <ul>
                        <li><a href="{{ url_for('chat_command_make_invite_code', chat_id=chat.id) }}">Сгенерировать</a></li>
                        <li><a href="{{ url_for('chat_command_reset_invite_code', chat_id=chat.id) }}">Сбросить</a></li>
                    </ul>
                </li>

                <li><a href="#">Пользователи</a>
                    <ul>
                        <li><a href="javascript:command_add_user()">Добавить</a></li>
                        <li><a href="javascript:command_remove_user()">Удалить</a></li>
                        <li><a href="javascript:command_make_user_admin()">Сделать администратором</a></li>
                        <li><a href="javascript:command_remove_admin()">Убрать администратора</a></li>
                        <li><a href="#">Список администаторов</a></li> <!--TODO-->
                        <li><a href="#">Список пользователей</a></li><!--TODO-->
                    </ul>
                </li>
            </ul>
        </nav>
        <!--
        <p id="hidden-p"><a href="javascript:show_commands()">Показать комманды чата</a></p>
        <div style="display:none" id="hidden-div">
            <p>Некоторые команды:</p>

            <table>
                {{ row("!!<i>add-user</i>;<b>&lt;login&gt;</b>", "– добавить пользователя <b>&lt;login&gt;</b> в чат. Требуются права администратора") }}
                {{ row("!!<i>remove-user</i>;<b>&lt;login&gt;</b>", "- удалить пользователя <b>&lt;login&gt;</b> из чата. Требуются права администратора") }}
                {{ row("!!<i>leave</i>", "- Покинуть чат. Внимание, если все покинут чат, он будет удалён!") }}
                {{ row("!!<i>send-system-message</i>;<b>&lt;system-password&gt;</b>", "- Отправить системное сообщение в чат. Требуется пароль системного пользователя") }}
                {{ row("!!<i>remove-chat</i>", "- Удалить чат. Требуются права администратора") }}
                {{ row("!!<i>clear-chat</i>", "- Очистить чат. Требуются права администратора") }}
                {{ row("!!<i>call-sys-user</i>", "- Добавить в чат системного пользователя") }}
                {{ row("!!<i>chat-members</i>", "- Показать список членов чата") }}
                {{ row("!!<i>chat-admins</i>", "- Показать список администраторов чата") }}
                {{ row("!!<i>make-admin</i>;<b>&lt;login&gt;</b>", "- Сделать пользователя администратором. Требуются права администраторв") }}
                {{ row("!!<i>remove-admin</i>;<b>&lt;login&gt;</b>", "- Удалить пользователя из администраторов. Требуются права администраторв") }}
                {{ row("!!<i>rename-chat</i>;<b>&lt;name&gt;</b>", "- Переименовать чат. Требуются права администратора") }}
                {{ row("!!<i>do-sql-request</i>;<b>&lt;system_password&gt;</b>;<b>&lt;sql-request&gt;</b>", "- Делает SQL запрос. Требуется пароль системного пользователя") }}
                {{ row("!!<i>make-invite-code</i>", "- Создаёт код-приглашение. Требуются права администратора") }}
                {{ row("!!<i>reset-invite-code</i>", "- Делает код-приглашение недействительной. Требуются права администратора") }}
            </table>

            <p><a href="javascript: hide_commands()">Свернуть</a></p>
        </div>
        -->
    {% else %}
        <!--
        <span class="chat-hint">Чтобы удалить диалог введите "!!remove-chat;", чтобы очистить - "!!clear-chat;", а чтобы покинуть -
            "!!leave"</span>
        -->
        <nav class="menu-right">
            <ul>
                <li><a>Диалог</a>
                    <ul>
                        <li><a href="{{ url_for('chat_command_remove_chat', chat_id=chat.id) }}">Удалить</a></li>
                        <li><a href="{{ url_for('chat_command_clear_chat', chat_id=chat.id) }}">Очистить</a></li>
                        <li><a href="{{ url_for('chat_command_leave_chat', chat_id=chat.id) }}">Покинуть</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    {% endif %}

    {% if user.login == 'SYSTEM' and user.id not in chat.members %}
        <span class="alert">Вы не состоите в этот чате</span>
    {% endif %}

    <div class="holder-wrapper">
        <div class="messages-container">
            {% for i in messages %}
                {% if i.from_.login == 'SYSTEM' %}
                    <span class="alert">{{ i.get_html(user) | safe }}</span>
                {% else %}
                    <div class="message {{ 'my' if i.from_ == user.id else '' }}">
                        {{ i.get_html(user) | safe }}
                    </div>
                {% endif %}
            {% endfor %}

            {% if not messages %}
                <span class="alert">Пока нет сообщений</span>
                <span class="alert">Это системное сообщение</span>
                <div class="message message-system"></div>
                <div class="message my">Вот так будут выглядеть отправленные сообщения</div>
                <div class="message">А так - полученные</div>
            {% endif %}
        </div>
    </div>

    <!--<form class="form-message" method="post" action="/send-message-to-chat/{{ chat.id }}" onsubmit="stop_updating()">-->
    <div style="display: table; width: 100%" class="input-bar">
            <span style="display: table-cell; width: 100%; overflow: hidden">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" name="message" placeholder="Сообщение..." required autocomplete="off"
                       class="message-input"/>
            </span>

        <input type="submit" value="➤" autocomplete="off" class="message-send"/>
    </div>

    <!--    </form>-->
{% endblock %}
{% endblock %}



{% block scripts %}
<script src="{{ url_for('static', filename='socket.io.min.js') }}" type="text/javascript"></script>

    <script lang="javascript">
        function str_or_other(s, other) {
            if (!strweight(s))
                return other;
            return s;
        }
        let protocol = document.baseURI.split('://')[0]

	    const socket = io.connect(
	        protocol + '://' + document.domain + ':' + location.port,
            {path: str_or_other('{{ storage.prefix }}', '') + '/socket.io'});
        const holder = document.querySelector('.messages-container');

        const send_button = document.querySelector('.message-send');
        const send_button_mobile = document.querySelector('.message-send');
        const message_input = document.querySelector('.message-input');
        const message_input_mobile = document.querySelector('.message-input');
        const my_token = '{{ user.token }}';
        const room_id = {{ chat.id }};

        function UpdateHolder() {
            holder.scroll({
                top: holder.scrollHeight,
                behavior: 'smooth'
            });
        }

        function AddAlert(text) {
            holder.innerHTML += `<span class="alert">${text}</span>`;
            UpdateHolder();
        }

        function AddMessage(data, my) {
            holder.innerHTML += `<div class="${'message' + (my ? ' my' : '')}">` +
                `${data}` +
                '</div>';
            UpdateHolder();
        }

        function strweight(s) {
            for (let i = 0; i < s.length; i += 1)
                if (s[i] !== '\n' && s[i] !== ' ') return true;
            return false;
        }

        function send(mobile=false) {
            let msg_input = (mobile ? message_input_mobile : message_input)
            let msg = msg_input.value;
            if (!strweight(msg)) return;
            socket.send({
                text: msg.value,
                source: my_token,
                room: room_id
            });
            msg.value = '';
        }

        socket.on('connect', () => {
            socket.emit('join', {
                room: room_id
            });
        });

        socket.on('message', data => {
            if (data['source_login'] !== 'SYSTEM') {
                if (data['source'] === my_token) {
                    AddMessage(data['html_sender'], true);
                } else {
                    new Notification("Новое сообщение - Messenger", {
                        body: data['source_login'] + ": " + data['text']
                    });
                    AddMessage(data['html_any'], false);
                }
            } else {
                AddAlert(data['html_any']);
            }
        });

        socket.on('need_refresh', () => {
                document.location.reload();
            }
        )

        send_button.addEventListener('click', send);
        send_button_mobile.addEventListener('click', () => {send(true)});
        message_input.addEventListener('keydown', ev => {
            if (ev.key === 'Enter') send();
        });


        if ('serviceWorker' in navigator && 'PushManager' in window) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/static/js/sw.js').then(function (registration) {
                    console.log('ServiceWorker registration successful');
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                    return false;
                });
            });
            new Promise(function (resolve) {
                Notification.requestPermission(function (result) {
                    resolve(result);
                });
            });
        }


        UpdateHolder();

        NOTIFICATION_KEY = 'asfafalskgahlkfhasfhjabfljasfblabfbal';

        message_input.addEventListener('keydown', ev => {
            let text = message_input.value;

            localStorage.setItem('draft_chat_{{ chat.id }}', text);
        });
        message_input_mobile.addEventListener('keydown', ev => {
            let text = message_input_mobile.value;

            localStorage.setItem('draft_chat_{{ chat.id }}', text);
        });

        let saved_text = localStorage.getItem('draft_chat_{{ chat.id }}');
        if (saved_text !== null) {
            message_input.value = saved_text;
            message_input_mobile.value = saved_text;
        }


        function urlBase64ToUint8Array(base64String) {
            const padding = '='.repeat((4 - base64String.length % 4) % 4);
            const base64 = (base64String + padding)
                .replace(/-/g, '+')
                .replace(/_/g, '/')
            ;
            const rawData = window.atob(base64);
            return Uint8Array.from([...rawData].map((char) => char.charCodeAt(0)));
        }

        function subscribeUserToPush(key) {
            return navigator.serviceWorker.register('/static/path/to/js/sw.js')
                .then(function (registration) {
                    var subscribeOptions = {
                        userVisibleOnly: true,
                        applicationServerKey: urlBase64ToUint8Array(key),
                    };
                    return registration.pushManager.subscribe(subscribeOptions)
                })
                .then(function (pushSubscription) {
                    sendSubscriptionToBackEnd(pushSubscription);
                });
        }

        function on_message_click(id) {
            let inp = document.getElementsByClassName('message-input')[0];
            if (inp.value.startsWith("!!answer-to;")) {
                let val = inp.value.split(';');
                inp.value = '!!answer-to;' + id + ';' + val.slice(2).join(';');
            } else {
                inp.value = '!!answer-to;' + id + ';' + inp.value;
            }
            inp.focus();
        }

        function command_add_user() {
            let username = prompt('Введите логин добавляемого пользователя');
            if (username === null) return;

            redirectTo("{{ url_for('chat_command_add_user', chat_id=chat.id) }}?login=" + username);
        }

        function command_make_user_admin() {
            let username = prompt('Введите логин нового администратора');
            if (username === null) return;

            redirectTo("{{ url_for('chat_command_make_admin', chat_id=chat.id) }}?login=" + username);
        }

        function command_remove_admin() {
            let username = prompt('Введите логин удаляемого администратора');
            if (username === null) return;

            redirectTo("{{ url_for('chat_command_remove_admin', chat_id=chat.id) }}?login=" + username);
        }

        function command_remove_user() {
            let username = prompt('Введите логин удаляемого пользователя');
            if (username === null) return;

            redirectTo("{{ url_for('chat_command_remove_user', chat_id=chat.id) }}?login=" + username);
        }

        function rename_chat() {
            let new_name = prompt('Новое имя чата');
            if (new_name === null) return;

            redirectTo("{{ url_for('chat_command_rename_chat', chat_id=chat.id) }}?new-name=" + new_name)
        }
    </script>
{% endblock %}