{% extends 'base.html' %}

{% block title %}Диалог с пользователем {{ user.aliases.get(dialoged.login, dialoged.login) }}{% endblock %}

{% block content -%}

    <h1>Диалог с пользователем {{ user.aliases.get(dialoged.login, dialoged.login) }}</h1>
    <h2>Вы вошли как {{ user.login }}</h2>

    {% include 'messages.html' %}


    <form class="form-message" method="post" action="/send-message-to/{{ dialoged.login }}">
        <div style="display: table; width: 100%">
            <span style="display: table-cell; width: 100%; overflow: hidden">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input style="width: 100%;" type="text" name="message" placeholder="Сообщение..." required />
            </span>

            <input style="display: table-cell" type="submit" value=">" class="btn-send-message"/>
        </div>

    </form>

    <script lang="javascript">
        async function reload_page() {
            let data = await(await fetch("/get-messages-div/{{ dialoged.login }}")).text();

            let div = document.getElementsByClassName("messages-container")[0];
            div.outerHTML = data;
        }
        reload_page()
        setInterval(reload_page, 1000);
    </script>
{% endblock %}