{% extends 'base.html' %}

{% set title="Главная" %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}"/>
{% endblock %}

{% block content %}

    <h3 class="center">Чаты</h3>

    <div class="chats-container">
        {% include 'dialogs-div.html' %}
        <div class="chat">
            <a href="javascript:show_choice_chat_or_dialog()" class="chat-buttons" id="plus">+</a>
            <table id="tbl-choice">
                <tr>
                    <td><a href="javascript:show_form_chat()" class="chat-buttons" id="add-chat">Чат</a></td>
                    <td><a href="javascript:show_form_dialog()" class="chat-buttons" id="add-dialog">Диалог</a></td>
                </tr>
            </table>

            <div id="form-new-chat">
                <form action="/new-chat" method="post">
                    <span>Вы можете сразу добавить некоторых пользователей, но вы можете добавить их и позже</span><br/>
                    <span>Для совершения некоторых действий (добавление пользователей и пр.) нужен пароль</span><br/><br/>

                    <label for="chat-name">Название чата: </label>
                    <input type="text" name="chat-name" id="chat-name" autocomplete="off" required/><br/>

                    <label for="users">Добавить пользователей (разделяйте ";"): </label>
                    <input type="text" name="users" id="users" autocomplete="off"/><br/>

                    <label for="password">Пароль: </label>
                    <input type="password" name="password" id="password" autocomplete="off" required/><br/>

                    <input type="submit" value="Создать"/>
                </form>
            </div>

            <div id="form-new-dialog">
                <form action="/new-dialog" method="post">
                    <label for="login">Создать диалог с </label>
                    <input type="text" name="login" id="login" autocomplete="off" placeholder="Логин собеседника" required/>

                    <input type="submit" value="➤"/>
                </form>
            </div>
        </div>
        <div class="chat">

            <a href="javascript:show_form_join_chat()" class="chat-buttons" id="join_chat">Присоединиться по коду</a>
            <form action="/join-chat" id="form-join-chat">
                <label for="chat-code">Присоединиться к чату по коду:</label>
                <input type="text" name="code" id="chat-code" placeholder="Код чата">

                <input type="submit" value="➤">
            </form>
        </div>
    </div>


    <script lang="javascript">
        function show_choice_chat_or_dialog() {
            let a_plus = document.getElementById('plus');
            a_plus.style.display = "none";
            let tbl_choice = document.getElementById('tbl-choice')
            tbl_choice.style.display = "table";
        }

        function show_form_chat() {
            let form = document.getElementById('form-new-chat');
            form.style.display = "block";
            let tbl_choice = document.getElementById('tbl-choice')
            tbl_choice.style.display = "none";
        }

        function show_form_dialog() {
            let form = document.getElementById('form-new-dialog');
            form.style.display = "block";
            let tbl_choice = document.getElementById('tbl-choice')
            tbl_choice.style.display = "none";
        }

        function show_form_join_chat() {
            let a = document.getElementById("join_chat")
            a.style["display"] = "none"
            let frm = document.getElementById("form-join-chat")
            frm.style["display"] = "block"
        }

        async function reload_div() {
            let div = document.getElementsByClassName('need-update')[0];
            div.outerHTML = await(await fetch('/get-dialogs-div')).text();
        }
        setInterval(reload_div, 10000);
    </script>


{% endblock %}