{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% if user -%}
        <h1>Мессенджер</h1>
        <h2>Вы вошли как {{ user.login }}</h2>
        <p><a href="{{ url_for('logout') }}">Выйти из аккаунта</a></p>
        <p><a href="{{ url_for('remove_account') }}">Удалить аккаунт</a></p>
        <p><a href="{{ url_for('change_password') }}">Сменить пароль</a></p>
        <h3 class="center">Диалоги</h3>

        {% include 'dialogs-div.html' %}

        <script lang="javascript">
            function show_form() {
                let a_plus = document.getElementById('plus');
                a_plus.style.display = "none";
                let form = document.getElementById('form-new-dialog');
                form.style.display = "block";
            }

            async function reload_div() {
                let div = document.getElementsByClassName('dialogs-container')[0];
                div.outerHTML = await(await fetch('/get-dialogs-div')).text();
            }
            setInterval(reload_div, 10000);
        </script>
    {% else -%}
        <h1>Мессенджер</h1>
        <h2>Вы не авторизировались</h2>
        <p><a href="/auth">Авторизирутесь</a> или <a href="/signup">зарегистрируйтесь</a></p>
    {%- endif -%}


{% endblock %}