<div class="messages-container">
    {% for i in messages %}
        {% if i.from_.login == 'SYSTEM' %}
            <span class="alert">{{ i.get_html(user) | safe }}</span>
        {% else %}
        <div class="message {{ 'my' if i.from_ == user else '' }}">
            {{ i.get_html(user) | safe }}
        </div>
        {% endif %}
    {% endfor %}

    {% if not messages %}
        <span class="alert">Пока нет сообщений</span>
        <span class="alert">Это системное сообщение</span>
        <div class="message message-system"></div>
        <div class="message my">Вот так будут выглядеть отправленные сообщения</div>
        <div class="message">А так - полученные</div>
    {% endif %}
</div>