{% extends 'base.html' %}

{% block style %}
<link href="{{ url_for('static', filename='chat.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content -%}
    {% if dialog -%}
        <h1>{{ chat.show_name }}</h1>
    {%- else -%}
        <h1>Чат {{ chat.show_name }}</h1>
    {%- endif -%}
    <h2>Вы вошли как {{ user.login }}</h2>

    {% macro row(val1, val2) %}
        <tr>
            <td>{{ val1 | safe }}</td>
            <td>{{ val2 | safe }}</td>
        </tr>
    {% endmacro %}
    {% if not dialog %}
        <script>
            function show_commands() {
                document.getElementById('hidden-div').style.display="table";
                document.getElementById('hidden-p').style.display="none";
            }
            function hide_commands() {
                document.getElementById('hidden-div').style.display="none";
                document.getElementById('hidden-p').style.display="inline";
            }
        </script>
        <p id="hidden-p"><a href="javascript:show_commands()">Показать комманды чата</a></p>
        <div style="display:none" id="hidden-div">
            <p>Некоторые команды:</p>

            <table>
                {{ row("!!<i>add-user</i>;<b>&lt;password&gt;</b>;<b>&lt;login&gt;</b>", "- добавить пользователя <b>&lt;login&gt;</b> в чат. Требуется пароль чата") }}
                {{ row("!!<i>remove-user</i>;<b>&lt;password&gt;</b>;<b>&lt;login&gt;</b>", "- удалить пользователя <b>&lt;login&gt;</b> из чата. Требуется пароль чата") }}
                {{ row("!!<i>leave</i>", "- Покинуть чат. Внимание, если все покинут чат, он будет удалён!") }}
                {{ row("!!<i>send-system-message</i>;<b>&lt;system-password&gt;</b>", "- Отправить системное сообщение в чат. Требуется пароль системного пользователя") }}
                {{ row("!!<i>remove-chat</i>;<b>&lt;password&gt;</b>", "- Удалить чат. Требуется пароль чата") }}
                {{ row("!!<i>clear-chat</i>;<b>&lt;password&gt;</b>", "- Очистить чат. Требуется пароль чата") }}
                {{ row("!!<i>change-chat-password</i>;<b>&lt;old_password&gt;</b>;<b>&lt;new_password&gt;</b>", "- Сменить пароль чата. Требуется пароль чата") }}
                {{ row("!!<i>reset-chat-password</i>;<b>&lt;system-password&gt;</b>;<b>&lt;new_password&gt;</b>", "- Сбросить пароль чата. Требуется пароль системного пользователя") }}
                {{ row("!!<i>call-sys-user</i>", "- Добавить в чат системного пользователя") }}
                {{ row("!!<i>chat-members</i>", "- Показать список членов чата") }}
                {{ row("!!<i>do-sql-request</i>;<b>&lt;system_password&gt;</b>;<b>&lt;sql-request&gt;</b>", "- Делает SQL запрос. Требуется пароль системного пользователя") }}
                {{ row("!!<i>make-invite-code</i>;<b>&lt;password&gt;</b>", "- Создаёт код-приглашение") }}
                {{ row("!!<i>reset-invite-code</i>;<b>&lt;password&gt;</b>", "- Делает код-приглашение недействительной") }}
            </table>

            <p><a href="javascript: hide_commands()">Свернуть</a></p>
        </div>
    {% else %}
        <p>Чтобы удалить диалог введите "!!remove-chat;", чтобы очистить - "!!clear-chat;", а чтобы покинуть - "!!leave"</p>
    {% endif %}
    {% if user.login == 'SYSTEM' and user.login not in chat.members %}
        <span class="alert">Вы не состоите в этот чате</span>
    {% endif %}
    <div class="holder-wrapper">
        {% include 'messages-div.html' %}
    </div>

    <form class="form-message" method="post" action="/send-message-to-chat/{{ chat.id }}" onsubmit="stop_updating()">
        <div style="display: table; width: 100%" class="input-bar">
            <span style="display: table-cell; width: 100%; overflow: hidden">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" name="message" placeholder="Сообщение..." required autocomplete="off" class="message-input"/>
            </span>

            <input type="submit" value="Отправить" autocomplete="off" class="message-send"/>
        </div>

    </form>

    <script lang="javascript">
        async function reload_page() {
            let data = await(await fetch("/get-messages-div/{{ chat.id }}")).text();

            let div = document.getElementsByClassName("messages-container")[0];

            let a = div.scrollTop;
            div.outerHTML = data;
            setTimeout(function() {document.getElementsByClassName("messages-container")[0].scrollTop = a;}, 0);

        }
        setTimeout(function() {document.getElementsByClassName("messages-container")[0].scrollTop = document.getElementsByClassName("messages-container")[0].scrollHeight;}, 0);
        reload_page()
        let updating_interval = setInterval(reload_page, 15000);

        function stop_updating() {
            clearInterval(updating_interval);
        }
    </script>
{% endblock %}