{% extends 'base.html' %}

{% set title="Настройки" %}

{% block content %}
    <p>Управление аккаунтом {{ user.login }}<br/>Вы можете:</p>
    <ul>
        <li><a href="{{ url_for('logout') }}">Выйти из аккаунта</a></li>
        <li><a href="{{ url_for('change_password') }}">Сменить пароль</a></li>
        <li><a href="{{ url_for('change_token') }}">Выйти на всех устройствах (кроме этого)</a></li>
        <li><a href="{{ url_for('remove_account') }}">Удалить аккаунт</a></li>
    </ul>

{% endblock %}